.add-container{
    text-align: center;
    padding: 45px;
    color: var(--footer-color);
}
.grid-container{ 
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    gap: 10px;
    padding: 0px 45px 60px 45px;
}
.grid-container::before{
    position: absolute;
    content: "";
    background-image: url(/imgs/college-student1.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    width: 280px;
    height: 100%;
    left: -25%;
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
}
.grid-container::after{
    position: absolute;
    content: "";
    background-image: url("/imgs/college-student2.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    width: 350px;
    height: 100%;
    right: -25%;
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
}
@media (max-width:992px) {
    .grid-container::before{
        display: none;
    }
    .grid-container::after{
        display: none;
    }   
}
.grid-container>div>span{
    display: inline-block;
    
    text-align: center;
}
.selection-grid-cell{
    display: flex;
    justify-content: space-evenly;
}
.grid-container>div{
    padding: 15px;
}
.grid-container input:not([type = "submit"]){
    width: 100%;
    padding: 5px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.grid-container input[type = "submit"]{
    border-radius: 12px;
    padding: 5px 15px;
}


