<footer id="about">
    <div class="container footer-container">
        <div class="logo">
            <h1>X</h1>
            <h4>University of Future</h4>
        </div>
        <main>
            <h2>About Us</h2>
            <p>We are a world-class university dedicated to providing an exceptional education to our students.</p>
            <address>
                Contact Us:<br>
                123 Main Street<br>
                Anytown, USA 12345<br>
                Phone: 555-1234<br>
                Email: info@exampleuniversity.edu<br>
            </address>
        </main>
    </div>
</footer>